/* background: image if screen wider than 900px, cornflowerblue otherwise */
body {
	background-color: cornflowerblue;
}
@media (min-width: 900px) {
	body {
		background-image: url("Assets/Background.png");
		height: 500px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

/* responsive card grid for 02-homepage.html and 06-photos.html */
.cardHolder {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-gap: 1rem;
}
@media (min-width: 600px) {
  .cardHolder { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 900px) {
  .cardHolder { grid-template-columns: repeat(3, 1fr); }
}

.black {
	color: black;
}
.white {
	color: white;
}
.gold {
	color: gold;
}
.centre-img {
	display: block;
	margin: auto;
}
.pointer {
	cursor: pointer;
}
.overflow-autoscroll {
	height: 300px;
	overflow: auto;
}
/* placeholder text for text input fields */
::placeholder {
	color: white;
}

/* Navbar and navigation buttons */
.devNavbar {
	text-align: right;
	background-color: rgba(255, 255, 255, 0.5);
}
.devNavButton {
	width: 150px;
	text-align: center;
	color: black;
	background-color: gold;
	border: 1px solid white;
	border-radius: 8px;
}
.devNavButton:hover {
	background-color: orange;
}

/* CSS for 01-frontpage */
.orangeHover:hover {
	color: orange;
	text-decoration: underline;
}
.frontpageInputField {
	background-color: transparent;
	border: none;
	border-bottom: 2px solid white;
	width: 30%;
	margin: 20px;
}

/* CSS for 02-homepage */
.homepage-icon {
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.5);
	border:1px solid gold;
	width: 17rem;
	height: 11rem;
}
.homepage-icon-header {
	text-align: center;
	color: black;
	background-color: gold;
}
.homepage-icon:hover > .icon-link {
	background-color: orange;
}
.homepage-body-text {
	font-size: 12px;
	text-justify: inter-character;
}
#weather-icon {
	height: 3em;
	padding-right: 1em;
}
#weather-temp {
	font-size: 1.8em;
}
#weather-city {
	font-size: 1.3em;
}

/* CSS for 04-news */
#newsImageHolder {
	display: block;
	margin: auto;
	background-color: rgba(50, 50, 50, 0.5);
	border:1px solid gold;
	width: 20rem;
	height: 10rem;
	border-radius: 8px;
}

/* CSS for 04-news & 05-sport */
.devBodyText {
	color: white;
	text-justify: auto;
	padding-left: 5%;
	padding-right: 5%;
}

/* CSS for 06-photos */
.photo-icon {
	margin: 0 auto;
	background-color: rgba(50, 50, 50, 0.5);
	border:1px solid gold;
	width: 17rem;
	height: 10rem;
}

/* CSS for 07-tasks */
.task-text {
	background-color: transparent;
	border: none;
	border-bottom: 2px solid white;
	width: 90%;
	margin: 10px;
}
#addTaskButton {
	margin-top: 10px;
}