doctype html
html
	head
		title Dev Challenge: News
		meta(meta charset="utf-8")
		script(src="http://code.jquery.com/jquery-3.5.1.min.js")
		link(rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
		link(rel="stylesheet" type="text/css" href="Assets/devchallenge-styles.css")
	body
		include navbar.jade
		h1(class="white") News
		div(class="cards cardHolder")
		div(id="newsImageHolder")
			#{newsImage}
		h3(id="newsHeadline" class="white text-center") #{newsHeadline}
		p(id="newsBody" class="white devBodyText") #{newsBody}